body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    outline: 0;
}

.WhiteNavBar {
    background: #FFFFFF !important;
    box-shadow: 0 3px 28px rgba(0, 0, 0, 0.08) !important;
}

/**************************************************/
.ButtonGroup {
    margin: 20px 0 14px 0;
}

.BaseButton {
    padding: 1px 12px;
    background: #F2F2F2;;
    border-radius: 40px;
    border-color: transparent;
    font-weight: 700;
    font-size: 16px;
    margin-right: 7px;
}

.BaseButtonActive {
    background: #FBC91B;
}

.LoadMoreContainer {
    margin: 6px 0 12px 0;
}

.PrimaryButton {
    background: #FFC700;
    border-radius: 12px;
    padding: 13px 13px;
    cursor: pointer;
}

.PrimaryButton .Title {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

/********************************/
.BaseCard {
    background: #FFFFFF;
    box-shadow: 0 3px 28px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin: 6px 0 !important;
    padding: 16px;
    width: 100%;
}

.BaseCard .Title {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.BaseCard .Content {
    font-size: 12px;
    margin: 0 0 15px 0;
}

.BaseCard .Details {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.BaseCard .Details .ClockIcon {
    margin-right: 5px;
}

.Footer {
    height: 100px;
    background: #FBC91B;
}


/****************************************/
.uk-comment {
    width: inherit !important;
}

.uk-comment-list .uk-comment ~ ul, .uk-comment-list .uk-comment ~ ul > :nth-child(n+2), .uk-comment-list > :nth-child(n+2) {
    margin: 16px 0 0 0 !important;
}

.uk-comment-list > :nth-child(n+1) {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    padding-left: 15px;
}

.uk-comment-body > :last-child, .uk-comment-header > :last-child {
    font-size: 12px !important;
}
